@import "../../assets/variable.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-XXL;
  height: $spacing-XXL;
}

.logo {
  display: flex;
  align-items: baseline;
  h1 {
    color: $white;
  }

  img {
    height: $spacing-XL;
  }

  h1 {
    margin-left: $spacing-M;
    font-size: $fontsize-H2;
    font-weight: 100;
    font-style: italic;
  }
}

.links {
  display: flex;
  font-size: $fontsize-H2;
  height: $spacing-XL;
  align-items: flex-end;

  a {
    margin-left: $spacing-XL;
    color: $white;
    transition: all ease-in-out 150ms;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.mobile-menu {
  background-color: $black;
  position: absolute;
  top: 117px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: $transition-ms;
  overflow-x: hidden;

  a {
    padding: $spacing-XL;
    font-size: $fontsize-H1;
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}

.burger {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  &:hover {
    cursor: pointer;
    background-color: $darkGray;
  }
}

.lines {
  height: $spacing-XL;
  width: $spacing-XL;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  transform: translate(-20%);

  .line2 {
    width: 40%;
  }
  div {
    height: 4px;
    width: 60%;
    background-color: $white;
    margin: 5px 0;
    transition: all ease 0.225s;
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(10px, 0);
  width: 80%;
}

.toggle .line2 {
  transform: rotate(-45deg) translate(10px);
  width: 80%;
}

@media screen and (max-width: 1100px) {
  .links {
    a {
      display: none;
    }
  }

  .burger {
    display: flex;
  }

  .mobile-menu {
    top: 84px;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 $spacing-M;
  }
  .logo {
    h1 {
      display: none;
    }
  }
}
