@import "../../assets/variable.scss";

img {
  height: $spacing-XL;
  width: $spacing-XL;
  object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-M $spacing-XXL;
  background-color: $white;
  color: $grey;
  font-size: $fontsize-p;

  .rights {
    display: flex;
    align-items: center;
    .links {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-L;
    }
  }

  a {
    color: $grey;
    font-size: $fontsize-p;
    transition: $transition-ms;
    &:hover {
      color: $primary;
    }
    img {
      margin-left: $spacing-L;
      transition: $transition-ms;
      &:hover {
        background-color: $primary;
      }
    }

    .github {
      border-radius: 50%;
    }

    .linkedin {
      border-radius: 0.4rem;
    }
  }
}

@media screen and (max-width: 900px) {
  footer {
    padding: $spacing-S $spacing-M;
  }

  @media screen and (max-width: 580px) {
    footer {
      flex-direction: column;
      .rights {
        flex-direction: column;
        .links {
          align-items: center;
          margin: $spacing-S 0;
        }
      }
      .web-links img {
        margin-left: 0;
      }
    }
  }
}
