<footer>
  <div class="rights">
    <img src="../../assets/img/logo.png" alt="" />

    <div class="links">
      <a routerLink="privacy">Privacy Notice - Datenschutzerklärung</a>
      <a routerLink="imprint">Legal Notice - Impressum</a>
      <div>© 2022 by Stefan Maksimek</div>
    </div>
  </div>

  <div class="web-links">
    <a href="https://github.com/StefanMaksimek" target="_blank"
      ><img class="github" src="../../assets/img/icons/github-fill.png" alt=""
    /></a>
    <a
      href="https://www.linkedin.com/in/stefan-maksimek-8537ab25a"
      target="_blank"
      ><img
        class="linkedin"
        src="../../assets/img/icons/linkedin-box-fill.png"
        alt=""
    /></a>
  </div>
</footer>
