<footer>
  <div class="rights">
    <a routerLink="privacy">Privacy</a>
    -
    <a routerLink="imprint">Imprint</a>
  </div>
  <div class="web-links">
    <a href="https://github.com/StefanMaksimek" target="_blank"
      ><img class="github" src="../../assets/img/icons/github-fill.png" alt=""
    /></a>
    <a
      href="https://www.linkedin.com/in/stefan-maksimek-8537ab25a"
      target="_blank"
      ><img
        class="linkedin"
        src="../../assets/img/icons/linkedin-box-fill.png"
        alt=""
    /></a>
  </div>
</footer>
