@import "../../assets/variable.scss";

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-M $spacing-XXL;
  background-color: $white;
  color: $grey;
  font-size: $fontsize-p;

  a {
    color: $grey;
    font-size: $fontsize-p;
    transition: $transition-ms;
    &:hover {
      color: $primary;
    }
    img {
      margin-left: $spacing-L;
      border-radius: 50%;
      transition: $transition-ms;
      &:hover {
        background-color: $primary;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  footer {
    padding: $spacing-S $spacing-M;
  }

  @media screen and (max-width: 580px) {
    footer {
      flex-direction: column;
      .rights {
        margin-bottom: $spacing-S;
      }
      .web-links img {
        margin-left: $spacing-S;
      }
    }
  }
}
