@import "../../assets/variable.scss";

.contact {
  display: flex;
  justify-content: center;
  position: relative;
}

.sendign-mail,
.send-mail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: $white;
  font-size: $fontsize-H1;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  H1 {
    color: $secondary;
  }
  a {
    color: $secondary;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    .input-danger {
      border-left: 2px solid $danger;
      border-top: 2px solid $danger;
      &:focus {
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        box-shadow: -2px -2px 5px 0px #ff0000 inset;
      }
    }
    .input-success {
      border-left: 2px solid $success;
      border-top: 2px solid $success;
      &:focus {
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        box-shadow: -2px -2px 5px 0px $success inset;
      }
    }
    .input-error {
      position: absolute;
      top: 0;
      right: $spacing-S;
      transform: translateY(400%);
      color: $error;
    }
  }
  label,
  input,
  textarea {
    margin: $spacing-S 0;
    font-size: $fontsize-p;
    border-radius: 2px;
    &:disabled {
      background-color: $white-tr;
      color: $grey-tr;
      border-color: $white-tr;
    }
  }

  input,
  textarea {
    padding: $spacing-S;
    background-color: $darkGray;
    border: none;
    outline: none;
    color: $white;

    &:active {
      color: $white;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $darkGray inset !important;
    -webkit-text-fill-color: $white !important;
  }

  ::placeholder {
    color: $white-tr;
  }

  .btn-holder {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  button {
    border: 2px solid $secondary;
    color: $secondary;
    transition: $transition-ms;
    &:hover {
      background-color: $secondary;
      color: $white;
    }
    &:disabled {
      border: none;
      color: $white-tr;
      background-color: $secondary-tr;
      cursor: not-allowed;
    }
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
}
