@import "../../assets/variable.scss";

.about-me {
  text-align: center;
  hr {
    margin: $spacing-XL;
  }

  .me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 300px;
      border: 8px solid $primary;
      margin-right: $spacing-L;
    }
  }

  .journeys {
    display: flex;
    .journey {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: $spacing-M;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        background-color: $secondary;
        padding: $spacing-M;
        height: $spacing-XL;
        border-radius: 50%;
      }
      .title {
        font-weight: bold;
        margin: $spacing-M;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about-me {
    p {
      max-width: none;
    }

    .me {
      flex-direction: column;
      img {
        margin-right: 0;
        margin-bottom: $spacing-M;
      }
    }

    hr {
      display: none;
    }
    .journeys {
      flex-direction: column;
      .journey-description {
        padding: 0 $spacing-L;
      }
    }
  }
}
