<section>
  <div class="img-holder">
    <img src="../../assets/img/about/diving.png" alt="" />
  </div>
  <div class="description">
    <div class="title"><h2>Traveling</h2></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsum
      corrupti incidunt asperiores adipisci architecto deserunt eius explicabo,
      perspiciatis natus, dolor recusandae, id nostrum alias libero doloribus
      laboriosam repudiandae! Cumque.
    </p>
  </div>
</section>
<section>
  <div class="description">
    <div class="title"><h2>Activities</h2></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsum
      corrupti incidunt asperiores adipisci architecto deserunt eius explicabo,
      perspiciatis natus, dolor recusandae, id nostrum alias libero doloribus
      laboriosam repudiandae! Cumque.
    </p>
  </div>
  <div class="img-holder">
    <img src="../../assets/img/about/skydiving.jpg" alt="" />
  </div>
</section>
<section>
  <div class="img-holder">
    <img src="../../assets/img/about/traveling.jpg" alt="" />
  </div>
  <div class="description">
    <div class="title"><h2>Traveling</h2></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsum
      corrupti incidunt asperiores adipisci architecto deserunt eius explicabo,
      perspiciatis natus, dolor recusandae, id nostrum alias libero doloribus
      laboriosam repudiandae! Cumque.
    </p>
  </div>
</section>
<section>
  <div class="description">
    <div class="title"><h2>Activities</h2></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsum
      corrupti incidunt asperiores adipisci architecto deserunt eius explicabo,
      perspiciatis natus, dolor recusandae, id nostrum alias libero doloribus
      laboriosam repudiandae! Cumque.
    </p>
  </div>
  <div class="img-holder">
    <img src="../../assets/img/about/snowboard.jpg" alt="" />
  </div>
</section>
