<div class="section-gray about-me">
  <div class="me">
    <img src="../../assets/img/portfolioportrait.jpg" alt="" />
    <div class="about-me">
      <h2>About me.</h2>
      <p>
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
        deserunt, expedita beatae ratione delectus architecto iusto saepe eos,
        officia, doloremque exercitationem ducimus ex eaque. Deleniti explicabo
        cumque velit molestias magnam."
      </p>
    </div>
  </div>
  <hr />
  <div class="journeys">
    <div class="journey">
      <img src="../../assets/img/icons/walk-line.png" alt="" />
      <span class="title">Lorem, ipsum dolor.</span>
      <span class="journey-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque id
        fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
      </span>
    </div>
    <div class="journey">
      <img src="../../assets/img/icons/walk-line.png" alt="" />
      <span class="title">Lorem, ipsum dolor.</span>
      <span class="journey-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque id
        fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
      </span>
    </div>
    <div class="journey">
      <img src="../../assets/img/icons/walk-line.png" alt="" />
      <span class="title">Lorem, ipsum dolor.</span>
      <span class="journey-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque id
        fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
      </span>
    </div>
    <div class="journey">
      <img src="../../assets/img/icons/walk-line.png" alt="" />
      <span class="title">Lorem, ipsum dolor.</span>
      <span class="journey-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque id
        fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
      </span>
    </div>
  </div>
</div>
