<div class="section-gray about-me">
  <div class="me">
    <img src="../../assets/img/portfolioportrait.jpg" alt="" />
    <div class="about-me">
      <h2>About me.</h2>
      <p>
        I am a family father and love challenges, no matter what the discipline.
        I want to not only know but to understand how things work.
        <br />
        When I'm not spending time with my family, I like to play poker. The
        mathematical calculability fascinates me as much as it trains you to
        stay emotionally balanced and to evaluate situations in a neutral way.
      </p>
    </div>
  </div>
  <hr />
  <div class="journeys">
    <div class="journey">
      <img src="../../assets/img/icons/walk-line.png" alt="" />
      <span class="title">MY JOURNEY BEGAN</span>
      <span class="journey-description">
        As an online retailer, I was always interested in improving my website,
        but in modular systems the possibilities are limited.
      </span>
    </div>

    <div class="journey">
      <img src="../../assets/img/icons/heart-line.png" alt="" />
      <span class="title">FIRST EXPERIENCES</span>
      <span class="journey-description">
        With the help of Youtube and Udemy I rebuilt my website and my interest
        in programming and automated processes grew.
      </span>
    </div>

    <div class="journey">
      <img src="../../assets/img/icons/search-line.png" alt="" />
      <span class="title">MY SEARCH</span>
      <span class="journey-description">
        To set the course for my future in the best possible way I learned
        structured programming of complex applications and games in the
        Developer Academy.
      </span>
    </div>

    <div class="journey">
      <img src="../../assets/img/icons/flight-takeoff-line.png" alt="" />
      <span class="title">NEW CHAPTER</span>
      <span class="journey-description">
        Now I study computer science and build projects to improve and
        consolidate my programming skills.
      </span>
    </div>
  </div>
</div>
