@import "../../assets/variable.scss";

.contact {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  H1 {
    color: $secondary;
  }
  a {
    color: $secondary;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    .input-error {
      color: $error;
    }
  }
  label,
  input,
  textarea {
    margin: $spacing-S 0;
    font-size: $fontsize-p;
  }

  input,
  textarea {
    padding: $spacing-S;
    background-color: $darkGray;
    border: none;
    outline: none;
    color: $white;
    &:active {
      color: $white;
    }
  }

  ::placeholder {
    color: $white-tr;
  }

  .btn-holder {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  button {
    border: 2px solid $secondary;
    color: $secondary;
    transition: $transition-ms;
    &:hover {
      background-color: $secondary;
      color: $white;
    }
    &:disabled {
      border: none;
      color: $white-tr;
      background-color: $secondary-tr;
      cursor: not-allowed;
    }
  }
}
/*
//::ng-deep {
//  /** Overrides caret & text color **/
//  .my-form-field.mat-form-field-appearance-legacy .mat-input-element {
//    caret-color: blue  !important;
//    color: orange  !important;
//  }
//  .mat-form-field-label,
//  .mat-focused {
//    //change color of label/
//    color: $blue  !important;
//  }
//  /* Border */
//  .mat-form-field-appearance-outline .mat-form-field-outline {
//    color: $colorDark  !important;
//  }
//  /* Font color */
//  input.mat-input-element {
//    color: black !important;
//    caret-color: black !important;
//  }
//  .mat-form-field-ripple {
//    background-color: $colorDark  !important;
//  }
//  textarea {
//    color: black !important;
//    caret-color: $colorDark  !important;
//  }
//}
////
