<header>
  <a routerLink="" class="logo" (click)="closeMobileMenu()">
    <img src="../../assets/img/logo.png" alt="" />
    <h1>StefanMaksimek</h1>
  </a>
  <div class="links">
    <a routerLink="">Home</a>
    <a routerLink="privacy">Privacy</a>
    <a routerLink="imprint">Imprint</a>
    <a routerLink="contact">Contact</a>
  </div>
  <div class="burger" id="burger" (click)="openCloseMobileSide()">
    <a class="lines" href="#">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </a>
  </div>
</header>

<div class="mobile-menu" [ngClass]="{ 'open-mobile-menu': mmActive }">
  <a routerLink="" (click)="openCloseMobileSide()">Home</a>
  <a routerLink="privacy" (click)="openCloseMobileSide()">Privacy</a>
  <a routerLink="imprint" (click)="openCloseMobileSide()">Imprint</a>
  <a routerLink="contact" (click)="openCloseMobileSide()">Contact</a>
</div>
