<header>
  <a routerLink="" class="logo" (click)="closeMobileMenu()">
    <img src="../../assets/img/logo.png" alt="" />
    <h1>StefanMaksimek</h1>
  </a>
  <div class="links">
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="portfolio">Portfolio</a>
  </div>
  <div
    class="burger"
    [ngClass]="{ toggle: mmActive }"
    id="burger"
    (click)="openCloseMobileSide()"
  >
    <a class="lines" href="#">
      <div class="line1"></div>
      <div class="line2"></div>
    </a>
  </div>
</header>

<div class="mobile-menu" *ngIf="mmActive">
  <a routerLink="" (click)="openCloseMobileSide()">Home</a>
  <a routerLink="about" (click)="openCloseMobileSide()">About</a>
  <a routerLink="portfolio" (click)="openCloseMobileSide()">Portfolio</a>
  <a routerLink="imprint" (click)="openCloseMobileSide()">Imprint</a>
  <a routerLink="privacy" (click)="openCloseMobileSide()">Privacy</a>
</div>
