<div class="section-gray skills">
  <H2>MY Skills</H2>
  <div class="skill-box" id="skill-box">
    <div class="skill-description">
      <span>Angular</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/angular.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>JavaSript</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/javascript.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Sass</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/sass.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Git</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/git.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Scrum</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/scrum.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Design Thinking</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/desing-thinking.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Databases</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/databases.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>API</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/rest-api.png" alt="" />
      </div>
    </div>
    <div class="skill-description">
      <span>Test automation</span>
      <div class="skill-icon">
        <img src="../../assets/img/icons/test-automatisation.png" alt="" />
      </div>
    </div>
  </div>
</div>
