<section *ngFor="let project of projects; let i = index">
  <div class="content" [ngClass]="{ reverse: i % 2 }">
    <div class="work">
      <div class="title">
        <h2>{{ project.title }}</h2>
      </div>
      <div class="description">
        {{ project.description }}
      </div>
      <a
        *ngIf="project.status == 'ready'"
        href="{{ project.href }}"
        target="_blank"
        ><button>Try out</button></a
      >
      <a *ngIf="project.status == 'in progress'" href="" target="_blank"
        ><button disabled>in Progress</button></a
      >
    </div>
    <div class="img-holder">
      <img src="../../assets/img/{{ project.img }}" alt="" />
    </div>
  </div>
  <hr *ngIf="i < projects.length - 1" />
</section>
