@import "../../assets/variable.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $spacing-XL;

  hr {
    width: 80%;
    border-color: $secondary;
    margin: $spacing-L $spacing-XXL;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .img-holder {
    padding: $spacing-L;
    img {
      width: 30vw;
      max-width: 800px;
      object-fit: cover;
    }
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: $fontsize-p;
    h2 {
      color: $primary;
    }
    .description {
      padding: $spacing-M;
    }
    button {
      color: $primary;
      border: 2px solid $primary;
      transition: $transition-ms;
      margin-bottom: $spacing-M;
      &:hover {
        background-color: $primary;
        color: $white;
      }
      &:disabled {
        background-color: $primary-tr;
        border: none;
        color: $white-tr;
        cursor: not-allowed;
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
    .img-holder {
      padding: $spacing-L;
      img {
        width: 60vw;
      }
    }
  }
}
