<header>
  <a routerLink="" class="logo" (click)="closeMobileMenu()">
    <img src="../../assets/img/logo.png" alt="" />
    <h1>StefanMaksimek</h1>
  </a>
  <div class="links">
    <a routerLink="">Home</a>
    <a (click)="scrollToElement(about)">About</a>
    <a (click)="scrollToElement(myWork)">Portfolio</a>
  </div>
  <div
    class="burger"
    [ngClass]="{ toggle: mmActive }"
    id="burger"
    (click)="openCloseMobileSide()"
  >
    <a class="lines">
      <div class="line1"></div>
      <div class="line2"></div>
    </a>
  </div>
</header>

<div class="mobile-menu" *ngIf="mmActive">
  <a routerLink="" (click)="openCloseMobileSide()">Home</a>
  <a routerLink="about" (click)="openCloseMobileSide()">About</a>
  <a routerLink="portfolio" (click)="openCloseMobileSide()">Portfolio</a>
  <a routerLink="imprint" (click)="openCloseMobileSide()">Imprint</a>
  <a routerLink="privacy" (click)="openCloseMobileSide()">Privacy</a>
</div>
<div class="home">
  <div class="section-black overview">
    <div class="overview-text">
      <p>
        Hi, <br />
        I`M <span class="first-name">Stefan</span> Maksimek <br />
        Front End develop<span class="font-highlite">e</span>r
      </p>
      <a (click)="scrollToElement(contact)"><button>Contact me</button></a>
    </div>
    <div class="portrait">
      <img src="../../assets/img/portfolioportrait.jpg" alt="" />
    </div>
  </div>
  <app-skills></app-skills>

  <div class="section-black my-work" #myWork>
    <H2>My Work</H2>

    <div class="tab-holder">
      <button (click)="workFilter('all')">ALL</button>
      <button (click)="workFilter('javaSkript')">JavaScript</button>
      <button (click)="workFilter('angular')">Angular</button>
    </div>

    <div class="credentials">
      <div class="ng-holder" *ngFor="let project of portfolio.projects">
        <div
          class="credential"
          *ngIf="
            project.build_with == javaSkript || project.build_with == angular
          "
        >
          <img src="../../assets/img/{{ project.img }}" alt="" />
          <div class="try-out">
            <span>{{ project.title }}</span>
            <p>{{ project.short_description }}</p>
            <a
              *ngIf="project.status == 'ready'"
              href="{{ project.href }}"
              target="_blank"
              ><button>Try out</button></a
            >
            <a *ngIf="project.status == 'in progress'" href="" target="_blank"
              ><button disabled>In progress</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #about>
    <app-about></app-about>
  </div>

  <div #contact>
    <app-contact-form></app-contact-form>
  </div>
</div>
<app-footer></app-footer>
