@import "../../assets/variable.scss";

.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - $spacing-XXL - $spacing-XL - $spacing-XL);
  .holder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-right: $spacing-XL;
    }
    span,
    p {
      font-size: $fontsize-H1;
      @media screen and (max-width: 1200px) {
        font-size: 56px;
      }
      @media screen and (max-width: 1110px) {
        font-size: 48px;
      }
    }
    img {
      max-height: 50vh;
      max-width: 40vw;
    }

    button {
      color: $secondary;
      border: 2px solid $secondary;
      transition: $transition-ms;
      &:hover {
        background-color: $secondary;
        color: $white;
      }
    }
  }
  mat-icon {
    display: flex;
    align-items: center;
    font-size: $spacing-XL;
    width: $spacing-XL;
    height: $spacing-XL;
    border-radius: 50%;
    animation: glow 2500ms infinite;
    @keyframes glow {
      0% {
        color: $white;
      }
      50% {
        color: $white-tr;
      }
      100% {
        color: $white;
      }
    }
  }
}

.first-name {
  display: inline-block;
  color: $primary;
  font-size: $fontsize-H1;
  overflow-x: hidden;
  transform: translate(0px, 16px);
}
.developer {
  white-space: nowrap;
}

.loper {
  display: inline-block;
  overflow-x: hidden;
  transform: translate(0px, 16px);
}

.font-highlite {
  display: inline-block;
  color: $secondary;
  font-size: $fontsize-H1;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: calc(1.5 * $spacing-XXL);
    margin-right: $spacing-S;

    color: $primary;
    border: 2px solid $primary;
    transition: $transition-ms;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }

  .tab-holder {
    margin-top: $spacing-M;
    button {
      &:focus {
        background-color: $primary;
        color: white;
      }
    }
  }

  .credentials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      height: 300px;
      width: 300px;
      margin: $spacing-S;
      object-fit: cover;
    }

    .credential {
      position: relative;
    }

    .try-out {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 4px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: $spacing-S;
      align-items: center;
      transition: $transition-ms;
      &:hover {
        background-color: hsla(0, 0%, 93%, 0.8);
        button {
          display: block;
        }
        span,
        p {
          display: flex;
        }
      }
      span {
        display: none;
        color: $primary;
        font-weight: bold;
        font-size: $fontsize-p;
      }
      p {
        display: none;
        max-width: 250px;
        text-align: center;
        color: $grey;
      }
      button {
        display: none;
        background-color: $white;
        height: $spacing-L;
        width: calc($spacing-XXL);
        &:hover {
          background-color: $primary;
        }
        &:disabled {
          border: none;
          color: $black;
          background-color: $primary-tr;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .overview {
    min-height: calc(100vh - $spacing-XXL - 2 * $spacing-S);
  }
  .holder {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    img {
      margin: 0;
      max-height: none;
      max-width: 50vw;
    }
    button {
      width: 100%;
    }
  }

  .my-work {
    .tab-holder {
      display: flex;
      button {
        width: $spacing-XXL;
        height: $spacing-L;
      }
    }
  }
}

.loper,
.first-name {
  @media screen and (max-width: 1200px) {
    transform: translate(0px, 14px);
  }
  @media screen and (max-width: 1110px) {
    transform: translate(0px, 12px);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkLine {
  from {
    border-right-color1: $white;
  }

  to {
    border-right-color: transparent;
  }
}
