<div class="home">
  <div class="section-black overview">
    <div class="overview-text">
      <p>
        Hi, <br />
        I`M <span class="first-name">Stefan</span> Maksimek <br />
        Front End develop<span class="font-highlite">e</span>r
      </p>
      <a [routerLink]="['contact']" routerLinkActive="router-link-active"
        ><button>Contact me</button></a
      >
    </div>
    <div class="portrait">
      <img src="../../assets/img/portfolioportrait.jpg" alt="" />
    </div>
  </div>
  <app-skills></app-skills>

  <div class="section-black my-work">
    <H2>My Work</H2>

    <div class="tab-holder">
      <button (click)="workFilter('all')">ALL</button>
      <button (click)="workFilter('javaSkript')">JavaScrip</button>
      <button (click)="workFilter('angular')">Angular</button>
    </div>

    <div class="credentials">
      <div class="ng-holder" *ngFor="let project of portfolio.projects">
        <div class="credential" *ngIf="project.build_with">
          <img src="../../assets/img/{{ project.img }}" alt="" />
          <div class="try-out">
            <span>{{ project.title }}</span>
            <p>{{ project.short_description }}</p>
            <a href="{{ project.href }}" target="_blank"
              ><button>Try out</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="section-gray about-me">
      <div class="me">
        <img src="../../assets/img/portfolioportrait.jpg" alt="" />
        <div class="about-me">
          <h2>About me.</h2>
          <p>
            "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
            deserunt, expedita beatae ratione delectus architecto iusto saepe
            eos, officia, doloremque exercitationem ducimus ex eaque. Deleniti
            explicabo cumque velit molestias magnam."
          </p>
        </div>
      </div>
      <hr />
      <div class="journeys">
        <div class="journey">
          <img src="../../assets/img/icons/walk-line.png" alt="" />
          <span class="title">Lorem, ipsum dolor.</span>
          <span class="journey-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque
            id fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
          </span>
        </div>
        <div class="journey">
          <img src="../../assets/img/icons/walk-line.png" alt="" />
          <span class="title">Lorem, ipsum dolor.</span>
          <span class="journey-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque
            id fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
          </span>
        </div>
        <div class="journey">
          <img src="../../assets/img/icons/walk-line.png" alt="" />
          <span class="title">Lorem, ipsum dolor.</span>
          <span class="journey-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque
            id fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
          </span>
        </div>
        <div class="journey">
          <img src="../../assets/img/icons/walk-line.png" alt="" />
          <span class="title">Lorem, ipsum dolor.</span>
          <span class="journey-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, neque
            id fugiat cupiditate in maiores non labore dolorem deleniti. Fugit?
          </span>
        </div>
      </div>
    </div>

    <app-contact-form></app-contact-form>
  </div>
</div>
